<form action="/api/productos/guardar" method="POST" class=".form-horizontal"  style="margin-top: 10px; margin: 50% auto">
    <input placeholder="Producto" type="text" name="title" id="prod">
    <input placeholder="Precio" type="number" name="price" id="price">
    <input placeholder="thumbnail" type="text" name="thumbnail" id="thumb">
    <div class="controls">
        <button type="submit" class="btn btn-primary input-medium pull-right">Enviar</button>
    </div>
</form>
